# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# RStudio files
.Rproj
.Rhistory
.RData
.Ruserdata
.Rproj.user

# OAuth2 token, see https://github/hadley/httr/releases/tag/v0.3
.htr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R Markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
